<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimingBoxController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TimingBoxController.Properties.Settings>
            <setting name="InternalTrigger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceShutterOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rx1Active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rx2Active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rate" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="InitialDelay" serializeAs="String">
                <value>425</value>
            </setting>
            <setting name="ShutterOpen" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Camera" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="CameraDelay" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ShutterClose" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ImagingExposures" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImagingRepeats" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ImagingFlats" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Rx1Delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rx1Pulse" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Rx1Repeats" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="Rx2Delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rx2Pulse" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Rx2Repeats" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImagingStarts" serializeAs="String">
                <value>0,60,120,180,240,360,480,600,840,1200,1560,1920</value>
            </setting>
            <setting name="Rx1Starts" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Rx2Starts" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShutterMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="logfilename" serializeAs="String">
                <value>TimingBoxController.log</value>
            </setting>
        </TimingBoxController.Properties.Settings>
    </userSettings>
</configuration>